.section_05 {
  width: 100%;
  margin: 135px 0;
  padding: 0 100px 0 20px;
  border: 1px solid blue;
}
.about {
  max-width: 1111px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #ff5722;
}
.about_header {
  margin: 0 auto 28px auto;
}
.about_header h1 {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
  text-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #04004d;
  max-width: 365px;
  margin: 0 auto;
}
.about_header p {
  line-height: 14px;
  max-width: 217px;
  font-size: 14px;
  color: #848199;
  font-weight: normal;
  margin: 14px auto 0;
}

.about_body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.about_youtube {
  position: relative;
}
.about_youtube::before {
  content: "";
  width: 18px;
  height: 18px;
  background-color: #ff5722;
  border-radius: 50%;
  position: absolute;
  left: -17px;
  bottom: 134px;
  z-index: 55;
}
.about_youtube::after {
  content: "";
  position: absolute;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background-color: #ff5722;
  bottom: 0;
  left: -25px;
  z-index: -1;
}
iframe {
  width: 529px;
  height: 309px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 0 34px 34px 15px;
  position: relative;
}

.about_title {
  max-width: 483px;
}
.about_title h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  max-width: 483px;
  color: #1f1f1f;
}
.about_title p {
  margin: 16px 0 32px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(1, 0, 26, 0.75);
  line-height: 28px;
}
.about_link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
  color: #ff5722;
  text-decoration: none;
  border-bottom: 1px solid #ff5722;
}
.about_link::after {
  content: url("../img/right.svg");
  margin-left: 5px;
}
@media (min-width: 978px) and (max-width: 1183px) {
  iframe {
    width: 425px;
    height: 279px;
    margin-right: 10px;
  }
  .about_youtube::after {
    width: 91px;
    height: 91px;
  }
  .about_title {
    max-width: 403px;
  }
  .about_title h1 {
    margin-top: -15px;
    font-size: 22px;
    line-height: 30px;
  }
  .about_title p {
    margin: 5px 0 10px 0;
    line-height: 20px;
    max-width: 385px;
  }
}
@media screen and (max-width: 978px) {
  .section_05 {
    padding: 0 !important;
  }
}
@media screen and (max-width: 642px) {
  .section_05 {
    padding: 0 !important;
  }
  iframe {
    width: 425px;
    height: 279px;
  }
  .about_title {
    max-width: 423px;
  }
  .about_youtube::after {
    width: 91px;
    height: 91px;
  }
}
@media screen and (max-width: 502px) {
  .section_05 {
    padding: 0 !important;
  }
  iframe {
    width: 375px;
    height: 279px;
  }
  .about_title {
    max-width: 375px;
  }
  .about_title h1 {
    margin-top: -15px;
    font-size: 22px;
    line-height: 30px;
  }
  .about_title p {
    margin: 5px 0 10px 0;
    line-height: 24px;
    max-width: 385px;
  }
  .about_youtube::after {
    width: 81px;
    height: 81px;
    bottom: 5px;
  }
}

@media screen and (max-width: 474px) {
  .section_05 {
    padding: 0 !important;
  }
  iframe {
    width: 325px;
    height: 265px;
  }
  .about_title {
    max-width: 325px;
  }
  .about_title h1 {
    margin-top: -15px;
    font-size: 18px;
    line-height: 24px;
  }
  .about_title p {
    margin: 5px 0 10px 0;
    line-height: 16px;
    font-size: 13px !important;
  }
  .about_youtube::before {
    width: 12px;
    height: 12px;
    left: -4px;
  }
  .about_youtube::after {
    width: 61px;
    height: 61px;
    bottom: 20px;
    left: -10px;
  }
}
