section#class {
  width: 100%;
  margin: 140px auto 170px;
}
.class_links {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
.class_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.class_header h1 {
  color: #04004d;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 32px;
  font-family: "Playfair Display", serif;
}
.class_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 8px;
}
.class_title p {
  max-width: 428px;
  font-style: normal;
  color: #848199;
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}
.class_select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.class_select .select_1 {
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  color: #4d4d4d;
  padding: 4px 0;
  margin-right: 24px;
  cursor: pointer;
}
.class_select .select_1 span {
  color: #4d4d4d;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
.class_select .select_1 .fa-chevron-down {
  color: #4d4d4d;
}
.class_select .select_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ff5722;
  border-radius: 4px;
  cursor: pointer;
}
.select_2 .btn-danger {
  background-color: #ff5722;
  color: #fff;
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  outline: none;
  border: none;
}
.select_2 .fa-chevron-right {
  margin-left: 10px;
}
.class_cards {
  margin: 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.class_card {
  width: 361px;
  background: #ffffff;
  border: 0.972459px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  margin: 20px 0;
  /* margin: 20px auto; */
}
.class_card_img {
  border-radius: 6px;
  width: 361px;
  height: 175px;
  position: relative;
}
.class_card_img img {
  width: 100% !important;
  margin-left: -1px;
  margin-top: -1px;
}
.class_card_img .card_img {
  width: 100%;
}
.class_card_img .img_heart {
  background: #ffff;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.class_card_img .heart {
  width: 16px;
  height: 14px;
}
.card_img_text {
  font-weight: normal;
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  line-height: 24px;
  font-size: 26px;
  top: 45%;
  left: 35%;
}
.class_card_body {
  padding: 0 24px 0 23px;
  margin: 14px 0 23px 0;
}
.class_card_footer {
  padding: 0 24px 0 23px;
}
.class_card_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card_icon_left span {
  color: #4d4d4d;
  font-style: normal;
  font-weight: normal;
  font-size: 13.6144px;
  line-height: 14px;
  margin-left: 7px;
  font-family: "Poppins", sans-serif;
}
.card_icon_icon {
  background: #f8593b;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}
.class_card_text {
  margin-top: 10px;
}
.class_card_text h3 {
  max-width: 268px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.01em;
  color: #262626;
}
.class_card_text .middle {
  max-width: 312px !important;
}
.class_card_text p {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #4d4d4d;
}
.class_card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}
.left_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left_icon span {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #4d4d4d;
  margin-left: 8px;
}
.btn_light_danger {
  background: rgba(255, 87, 34, 0.16);
  border-radius: 4px;
  padding: 8px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 14px;
  color: #ff5722;
  outline: none;
  border: none;
  display: inline-block;
}
@media screen and (max-width: 1150px) {
  .card_auto {
    margin: 20px auto !important;
  }
}

@media screen and (max-width: 795px) {
  .class_card {
    margin: 20px auto;
  }
  .class_header {
    justify-content: center !important;
  }
  .class_header h1 {
    font-size: 28px;
  }
  .class_title {
    justify-content: center !important;
    flex-wrap: wrap !important;
    display: block !important;
  }
  .class_title p {
    display: block !important;
    text-align: center;
    max-width: 288px;
    margin: 0 auto;
  }
  .class_title .class_select {
    margin: 0 auto;
    justify-content: center;
  }
}

@media screen and (max-width: 453px) {
  .class_card {
    width: 301px;
  }
  .class_card_img {
    width: 301px;
  }
  .card_img_text {
    line-height: 20px;
    font-size: 20px;
    top: 35%;
    left: 33%;
  }
  .uIuX {
    left: 35% !important;
  }
}
@media screen and (max-width: 350px) {
  .class_header h1 {
    font-size: 22px;
  }
  .class_card {
    width: 266px;
    margin: 20px auto;
  }
  .class_card_img {
    width: 266px;
  }
  .select_2 .btn-danger {
    padding: 9px 20px;
    font-size: 14px;
  }
  .class_select .select_1 {
    padding: 2px 0;
  }
  .class_select .select_1 span {
    font-size: 12px;
  }
  .img_heart {
    width: 28px !important;
    height: 28px !important;
    align-items: center !important;
  }
  .img_heart img {
    margin-top: 2px;
  }
}
