section {
  /* border: 1px solid #ff5722; */
}
section .row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap !important;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  margin-top: 88px;
  padding: 0 16px;
}
.col_md_6 {
  width: 50%;
}
.col_6_text {
  margin-top: 24px;
  max-width: 580px;
}
.col_6_text h1 {
  font-family: "Playfair Display", serif !important;
  font-size: 3.8rem;
  letter-spacing: 0px;
  line-height: 4.6rem;
  font-weight: bold;
  color: #04004d;
  font-style: normal;
  padding: 0;
  margin: 0;
}
.col_6_text h1 span {
  color: #ff5257;
  font-weight: 700 !important;
  font-family: "Playfair Display", serif !important;
}
.col_6_text p {
  margin: 20px 0 28px 0;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
  font-style: normal;
  color: #04004d;
  padding-right: 94px;
}
.col_6_text .d_flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.d_flex a {
  display: inline-block;
  text-align: center;
  padding: 16px 34px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff5257;
  font-size: 16px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
}
.d_flex .btn-outline {
  background-color: transparent;
  color: #ff5257;
  border: 1px solid #ff5257;
  margin-left: 25px;
}

.col_right {
  position: relative;
}

.header_round_box {
  position: absolute;
  z-index: 9;
  top: 42%;
  left: 4%;
  width: 60px;
  height: 60px;
  background: linear-gradient(91.44deg, #ffffff 31.77%, #f5f5f5 100%);
  opacity: 0.9;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_round_circle {
  width: 80%;
  height: 80%;
  background-color: #383e56;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid #ff996e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart span {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}
.header_mentor {
  position: absolute;
  z-index: 9;
  top: 64%;
  left: -15%;
  width: 248px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(91.44deg, #ffffff 31.77%, #f5f5f5 100%);
  opacity: 0.9;
  box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.header_mentor p {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  font-style: normal;
}
.header_mentor img {
  margin-right: 7px;
}
.mentor_rohman {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 1245px) {
  .row {
    margin-top: 50px !important;
  }
  .col_left .col_6_text {
    width: 100%;
  }
  .col_left .col_6_text h1 {
    font-size: 3.2rem;
    line-height: 50px;
    font-weight: bold;
  }
  .col_left .col_6_text p {
    font-size: 16px;
  }
  .col_left .col_6_text .d_flex a {
    padding: 14px 30px;
    font-size: 15px;
  }
  .col_right .mentor_rohman img {
    width: 93%;
    margin-left: 7%;
  }
  .header_round_box {
    width: 48px;
    height: 48px;
    left: 10%;
  }
  .chart span {
    font-size: 10px;
    color: #fff;
    font-weight: 600;
  }
  .header_mentor {
    width: 198px;
  }
  .header_mentor p {
    font-size: 11px;
    font-weight: 600;
  }
}

@media screen and (max-width: 992px) {
  .row {
    flex-wrap: wrap !important;
  }
  .col_left .col_6_text {
    width: 95%;
  }
  .col_left .col_6_text h1 {
    font-size: 2.2rem;
    line-height: 42px;
    font-weight: bold;
  }
  .col_left .col_6_text p {
    font-size: 14px !important;
  }
  .col_left .col_6_text .d_flex a {
    padding: 14px 30px;
    font-size: 15px;
  }
  .d_flex .btn-outline {
    margin-left: 15px;
  }
  .col_right .mentor_rohman img {
    width: 93%;
    margin-left: 7%;
  }
  .header_round_box {
    width: 42px;
    height: 42px;
    left: 12%;
  }
  .header_mentor {
    width: 160px;
    height: 30px;
  }
  .header_mentor p {
    font-size: 9px;
  }
}

@media screen and (max-width: 798px) {
  .col_md_6 {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .col_md_6:last-child {
    margin-top: 35px;
  }
  .col_6_text {
    width: 80%;
    margin: 0 auto;
  }
  .col_left .col_6_text h1 {
    font-size: 3.4rem;
    line-height: 78px;
    font-weight: bold;
  }
  .col_left .col_6_text p {
    font-size: 16px !important;
  }
  .col_left .col_6_text .d_flex a {
    padding: 16px 32px;
    font-size: 16px;
  }
  .d_flex .btn-outline {
    margin-left: 15px;
  }
  .col_right .mentor_rohman img {
    width: 90%;
  }
  .header_round_box {
    width: 60px;
    height: 60px;
    left: 16%;
    top: 40%;
  }
  .header_mentor {
    width: 248px;
    height: 38px;
    left: 2%;
  }
  .header_mentor p {
    font-size: 14px;
  }
}
@media screen and (max-width: 566px) {
  .col_left .col_6_text h1 {
    font-size: 2.8rem;
    line-height: 46px;
    font-weight: bold;
  }
  .col_left .col_6_text p {
    font-size: 14px;
    line-height: 20px;
    /* padding-right: 44px; */
  }
  .header_round_box {
    width: 50px;
    height: 50px;
    left: 12%;
    top: 40%;
  }
  .header_mentor {
    width: 200px;
    height: 28px;
    left: 2%;
  }
  .header_mentor p {
    font-size: 12px;
  }
}
@media screen and (max-width: 472px) {
  .col_left .col_6_text h1 {
    font-size: 2.2rem;
    line-height: 38px;
    font-weight: bold;
  }
  .col_left .col_6_text p {
    font-size: 12px;
    line-height: 20px;
    padding-right: 20px;
  }
}
