@import "../includes/code";
@import "../includes/grid";
@import '_virable';

@mixin fontSize($size, $weight, $height, $color-link) {
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    color: $color-link;
}

.home {
    border: 1px solid red;

    &_container {
        max-width: 1320px;
        width: 100%;
        padding: 0 15.5px;
        margin: 0 auto;
        overflow: hidden;
    }

    &_start {
        margin: 0 auto;

        h1 {
            @include fontSize(2.2rem, 3rem, bold, $color-a);
            text-align: start;
            margin-top: 100px;
            font-family: $font-family-Playfair-d;

            span {
                font-family: $font-family-Playfair-d;
                color: #ff5722;
            }
        }

        p {
            @include fontSize(0.8rem, 1.2rem, normal, #01001a);
            text-align: start;
            max-width: 300px;
            margin: 20px 0 28px 0;
        }
    }
    &_btns {
        .btn{
            @include btn(lg);   
            &:first-of-type {
                color: #fff;
                background: #ff5722;
            }
            &:last-of-type{
                margin-left: 20px;
            }
        }
    }
    &_precent{
        width: 62px;
        height: 62px;
        @include d_flex(flex,center,center);
        background: linear-gradient(91.44deg, #ffffff 31.77%, #f5f5f5 100%);
        opacity: 0.9;
        box-shadow: $box-shadow;
        border-radius: $border-radius;
        position: relative;
        top: 46%;
        left: 4%;
        z-index: 99;
        .chart{
            position: relative;
            width: 80%;
            height: 80%;
            border: none;
            border-radius: 50%;
            background: #383e56;
            @include d_flex(flex,center,center);
            span {
                @include fontSize(0.7rem,0.7rem,normal,#fff);
                color: #fff !important;
            }
            canvas{
                position: absolute;
                top: -50%;
                left: -50%;
                width: 100% !important;
                height: 100% !important;
                transform: translate(50%, 50%);
            }
        }
    }
    &_mentor {
        position: relative;
        left: -5%;
        top: 62%;
        width: 248px;
        height: 38px;
        background: linear-gradient(91.44deg, #ffffff 31.77%, #f5f5f5 100%);
        opacity: 0.9;
        box-shadow: $box-shadow;
        border-radius: 4px;
        @include d_flex(flex,center,center);
        z-index: 12;
        p {
          margin-left: 5px;
          @include fontSize(0.8rem, 0.9rem, normal,rgba(1, 0, 26, 0.75));
        }
      }
    &_asian{
        max-width: 100%;
        max-height: 100%;
        margin: auto;
        position: relative;
        // margin-top: 88px;
        z-index: 10;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: flex;
          position: relative;
        }
    }
    &_end{
        margin: 0 auto;
    }
}