.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
}

.header__nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  min-height: 100px;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__bars, .header__times {
  cursor: pointer;
  display: none;
}

.header__content {
  width: 85%;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item {
  margin: 0 25px;
}

.header__item:first-child {
  margin-left: 0;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  color: #04004D;
  position: relative;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
}

.header__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ff5722;
  border-radius: 1px 1px 3px 3px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #ff5722;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  opacity: 0;
}

.header__link:hover {
  font-weight: 510;
}

.header__link:hover::before {
  opacity: 1;
  -webkit-transform: translateY(-38px);
          transform: translateY(-38px);
}

.header__link:hover::after {
  bottom: -12px;
  opacity: 1;
}

.header__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn {
  color: #FF5722;
  padding: 15px 32px;
  display: inline-block;
  border: 1px solid #FF5722;
  border-radius: 4px;
  font-weight: normal;
  line-height: 16px;
  font-size: 16px;
}

.header__btn.btn-link {
  width: 131.58px;
  text-align: center;
  color: #04004D;
  margin-right: 5px;
  border-color: transparent;
}

.header__btn.btn-link:hover {
  color: #FF5722;
  border-color: #FF5722;
  -webkit-transition: border-color 400ms ease-in-out;
  transition: border-color 400ms ease-in-out;
}

.header__home {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 47px 0 41px;
}

.header__home-inner {
  padding-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__home-content {
  max-width: 546px;
  margin-top: 42px;
}

.header__home-title {
  color: #04004D;
  font-family: "Playfair Display",serif;
  font-weight: bold;
  line-height: 74px;
  font-size: 54px;
  font-size: calc(28px + (54px - 28px) * ((100vw-320px) / (768px - 320px)));
}

.header__home-title span {
  color: #FF5722;
  font-family: "Playfair Display",serif;
}

.header__home-text {
  padding: 20px 0px 0px 0px;
  color: rgba(1, 0, 26, 0.75);
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}

.header__home-link {
  padding-top: 28px;
}

.header__home-btn {
  margin-right: 25px;
  color: #fff;
  background: #FF5722;
}

.header__home-img {
  position: relative;
  max-width: 622px;
}

.header__woman-img {
  width: 100%;
}

.header__woman-img img {
  width: 100%;
}

.header__home-circle {
  position: absolute;
  top: 38%;
  left: 31px;
  width: 62px;
  height: 62px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header__home-circle span {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  background-color: #383E56;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home-rectangle {
  top: 65%;
  left: -75px;
  max-width: 248px;
  padding: 12px 11px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__home-rectangle img {
  width: 16px;
  height: 16px;
}

.header__home-rectangle span {
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .header__times, .header__bars {
    display: none !important;
  }
}

@media (max-width: 992px) {
  .header {
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  }
  .header__nav {
    z-index: 5;
    width: 100%;
    position: fixed;
  }
  .header__bars {
    display: inline-block;
  }
  .header__content {
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    margin-left: 0px;
    padding-top: 100px;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .header__content.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
  }
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .header__item {
    margin: 20px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__link:hover::before {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .header__link:hover::after {
    bottom: -15px !important;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .header__auth {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 20px;
  }
  .header__btn.btn-link {
    margin: 15px 0;
    border-color: #FF5722;
    color: #FF5722;
  }
  .header__home-title {
    font-size: calc(28px + (54px - 28px) * ((100vw-320px) / (768px - 320px)));
  }
}
