*, *::after, *::before {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
  margin: 0;
  padding: 0;
  border: 0;
}

:focus, :active, a:focus, a:hover {
  outline: none;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style-type: none;
}

nav, footer, header {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button, input, textarea {
  font-family: "Poppins", sans-serif;
}

input::-ms-clear {
  display: none;
}

img {
  vertical-align: top;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-unset {
  justify-content: unset;
}

.align-items-center {
  align-items: center;
}

.align-items-unset {
  align-items: unset;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-unset {
  flex-direction: unset;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .justify-lg-content-between {
    justify-content: space-between;
  }

  .justify-lg-content-unset {
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}

.header {
  width: 100%;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
}
.header__nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 555;
  min-height: 100px;
  background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 15%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__bars, .header__times {
  cursor: pointer;
  display: none;
}
.header__content {
  width: 85%;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__item {
  margin: 0 25px;
}
.header__item:first-child {
  margin-left: 0;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  color: #04004D;
  position: relative;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
}
.header__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #ff5722;
  border-radius: 1px 1px 3px 3px;
  transform: translateY(-5px);
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 8px;
  height: 8px;
  background: #ff5722;
  border-radius: 50%;
  transform: translateX(-50%);
  transition: all 200ms ease-in-out;
  opacity: 0;
}
.header__link:hover {
  font-weight: 510;
}
.header__link:hover::before {
  opacity: 1;
  transform: translateY(-38px);
}
.header__link:hover::after {
  bottom: -12px;
  opacity: 1;
}
.header__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  color: #FF5722;
  padding: 15px 32px;
  display: inline-block;
  border: 1px solid #FF5722;
  border-radius: 4px;
  font-weight: normal;
  line-height: 16px;
  font-size: 16px;
}
.header__btn.btn-link {
  width: 131.58px;
  text-align: center;
  color: #04004D;
  margin-right: 5px;
  border-color: transparent;
}
.header__btn.btn-link:hover {
  color: #FF5722;
  border-color: #FF5722;
  transition: border-color 400ms ease-in-out;
}
.header__home {
  max-width: 1352px;
  margin: 0 auto;
  padding: 0 47px 0 41px;
}
.header__home-inner {
  padding-top: 88px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.header__home-content {
  max-width: 546px;
  margin-top: 42px;
}
.header__home-title {
  color: #04004D;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  line-height: 74px;
  font-size: 54px;
  font-size: calc(28px + (54px - 28px) * ((100vw-320px) / (768px - 320px)));
}
.header__home-title span {
  color: #FF5722;
  font-family: "Playfair Display", serif;
}
.header__home-text {
  padding: 20px 0px 0px 0px;
  color: rgba(1, 0, 26, 0.75);
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}
.header__home-link {
  padding-top: 28px;
}
.header__home-btn {
  margin-right: 25px;
  color: #fff;
  background: #FF5722;
}
.header__home-img {
  position: relative;
  max-width: 622px;
}
.header__woman-img {
  width: 100%;
}
.header__woman-img img {
  width: 100%;
}
.header__home-circle {
  position: absolute;
  top: 38%;
  left: 31px;
  width: 62px;
  height: 62px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-circle img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header__home-circle span {
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  background-color: #383E56;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-rectangle {
  top: 65%;
  left: -75px;
  max-width: 248px;
  padding: 12px 11px;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__home-rectangle img {
  width: 16px;
  height: 16px;
}
.header__home-rectangle span {
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  margin-left: 5px;
}

@media (min-width: 992px) {
  .header__times, .header__bars {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .header {
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
  }
  .header__nav {
    z-index: 5;
    width: 100%;
    position: fixed;
  }
  .header__bars {
    display: inline-block;
  }
  .header__content {
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
    margin-left: 0px;
    padding-top: 100px;
    position: absolute;
    flex-direction: column;
    background: linear-gradient(106.24deg, #EEE0CA -1.25%, #F9F3EA 96.26%);
    transform: translateY(-100%);
    transition: all 400ms ease-in-out;
  }
  .header__content.active {
    transform: translateY(0);
    transition: all 400ms ease-in-out;
  }
  .header__menu {
    flex-direction: column;
    width: 100%;
  }
  .header__item {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__link:hover::before {
    transform: translateY(-15px);
    transition: all 300ms ease-in-out;
  }
  .header__link:hover::after {
    bottom: -15px !important;
    transition: all 300ms ease-in-out;
  }
  .header__auth {
    flex-direction: column;
    padding-bottom: 20px;
  }
  .header__btn.btn-link {
    margin: 15px 0;
    border-color: #FF5722;
    color: #FF5722;
  }
  .header__home-title {
    font-size: calc(28px + (54px - 28px) * ((100vw-320px) / (768px - 320px)));
  }
}
.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-unset {
  justify-content: unset;
}

.align-items-center {
  align-items: center;
}

.align-items-unset {
  align-items: unset;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-unset {
  flex-direction: unset;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .justify-lg-content-between {
    justify-content: space-between;
  }

  .justify-lg-content-unset {
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.company {
  background: #FDFDFD;
}
.company__logos {
  min-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__inner {
  margin-left: 19px;
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company__features {
  padding: 100px 0px;
}
.company__features-body {
  max-width: 948px;
  margin: 0 auto;
}
.company__features-inner {
  margin: 0 auto;
  display: block;
  max-width: 428px;
  padding-bottom: 42px;
}
.company__features-title {
  color: #04004D;
  text-align: center;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.company__features-text {
  color: #848199;
  padding-top: 10px;
  text-align: center;
  font-weight: 400;
  line-height: 26px;
  font-size: 14px;
}
.company__features-content {
  padding-top: 90px;
}
.company__features-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: wrap;
}
.company__features-card {
  cursor: pointer;
  max-width: 300px;
  min-height: 300px;
  text-align: center;
  background-color: #fff;
  padding: 28px 52px 0px 52px;
  border-radius: 8px;
  transition: all 600ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.company__features-card:hover {
  background-color: #FF5722;
  transform: translateY(-48px);
  transition: all 400ms ease-in-out;
}
.company__features-card:hover .company__features-card-body .company__features-card-title,
.company__features-card:hover .company__features-card-body .company__features-card-text {
  color: #fff;
}
.company__features-card:hover .company__features-card-img .mask__group {
  top: 0;
  left: -120px;
  z-index: 8888888;
}
.company__features-card-img {
  height: 57px;
  width: 57px;
  margin: 0 auto;
  position: relative;
  border-radius: 50%;
  background: #FF5722;
  border: 6px solid #f5f5f5;
  opacity: 0.9;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.company__features-card-img .mask__group {
  position: absolute;
  z-index: 0;
}
.company__features-card-body {
  padding: 24px 0px 67px 0;
}
.company__features-card-title {
  font-weight: 600;
  line-height: 14px;
  font-size: 16px;
  z-index: 999;
  color: #262626;
}
.company__features-card-text {
  z-index: 999;
  color: #4D4D4D;
  max-width: 196px;
  padding-top: 14px;
  text-align: center;
  font-weight: normal;
  line-height: 24px;
  font-size: 14px;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-unset {
  justify-content: unset;
}

.align-items-center {
  align-items: center;
}

.align-items-unset {
  align-items: unset;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-unset {
  flex-direction: unset;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .justify-lg-content-between {
    justify-content: space-between;
  }

  .justify-lg-content-unset {
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.class {
  padding-top: 42px;
}
.class .container {
  padding: 0;
}
.class__header-title {
  color: #04004D;
  letter-spacing: 2%;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  font-family: "Playfair Display", serif;
}
.class__header-text {
  margin: 8px 0 35px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__header-text-p {
  max-width: 428px;
  color: #848199;
  text-align: start;
  font-weight: 400;
  line-height: 24px;
  font-size: 14px;
}
.class__header-text-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__header-text-form-dropdown {
  width: 58px;
  padding: 5px 8px;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  color: #4D4D4D;
  border-top: 0.8px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  margin-right: 25px;
  cursor: pointer;
}
.class__header-text-form-select {
  padding: 12px;
  color: #fff;
  background: #FF5722;
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.class__body {
  padding-bottom: 85px;
}
.class__body-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card {
  cursor: pointer;
  max-width: 359px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.class__body-card-img {
  position: relative;
  width: 100%;
}
.class__body-card-img::before {
  content: url("../assets/img/heart.svg");
  top: 24px;
  left: 24px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  position: absolute;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
}
.class__body-card-img img {
  width: 100%;
}
.class__body-card-text {
  top: 50%;
  left: 50%;
  position: absolute;
  font-weight: 500;
  line-height: 22px;
  font-size: 22px;
  font-family: "Playfair Display", serif;
  color: rgba(255, 255, 255, 0.8);
  transform: translate(-50%, -50%);
}
.class__body-card-inner {
  padding: 13px 24px 18px 23px;
}
.class__body-card-inner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card-inner-flex-one {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__body-card-inner-flex-one img {
  margin-right: 7px;
}
.class__body-card-inner-flex-one span {
  margin-top: 3px;
}
.class__body-card-inner-flex-two {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF5722;
  display: flex;
  justify-content: center;
  align-items: center;
}
.class__body-card-inner-title {
  padding: 11px 0 0 0;
}
.class__body-card-inner-title-title {
  max-width: 268px;
  letter-spacing: 0.01em;
  font-weight: 500;
  line-height: 28px;
  font-size: 17px;
}
.class__body-card-inner-title-text {
  margin: 10px 0 15px 0;
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.class__body-card-inner-footer-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.class__body-card-inner-footer-left span {
  color: #4D4D4D;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
}
.class__body-card-inner-footer-left span::before {
  margin-right: 8px;
  content: url("../assets/img/user.svg");
}
.class__body-card-inner-footer-left a {
  padding: 8px;
  color: #FF5722;
  font-weight: normal;
  line-height: 14px;
  font-size: 14px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 87, 34, 0.16);
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-unset {
  justify-content: unset;
}

.align-items-center {
  align-items: center;
}

.align-items-unset {
  align-items: unset;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-unset {
  flex-direction: unset;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .justify-lg-content-between {
    justify-content: space-between;
  }

  .justify-lg-content-unset {
    justify-content: unset;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1110px;
  }

  .col-xl-1 {
    width: 8.3333333333%;
  }

  .col-xl-2 {
    width: 16.6666666667%;
  }

  .col-xl-3 {
    width: 25%;
  }

  .col-xl-4 {
    width: 33.3333333333%;
  }

  .col-xl-5 {
    width: 41.6666666667%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-7 {
    width: 58.3333333333%;
  }

  .col-xl-8 {
    width: 66.6666666667%;
  }

  .col-xl-9 {
    width: 75%;
  }

  .col-xl-10 {
    width: 83.3333333333%;
  }

  .col-xl-11 {
    width: 91.6666666667%;
  }

  .col-xl-12 {
    width: 100%;
  }
}
.about {
  padding: 85px 160px 37px 89px;
}
.about__wrapper {
  margin: 0 auto;
  border: 1px solid red;
}
.about__header {
  max-width: 330px;
  margin: 0 auto;
}
.about__title {
  text-align: center;
  font-weight: 700;
  line-height: 32px;
  font-size: 32px;
  color: #04004D;
  font-family: "Playfair Display", serif;
}
.about__text {
  color: #848199;
  text-align: center;
  padding: 12px 0px 28px 0px;
  font-weight: 400;
  line-height: 14px;
  font-size: 14px;
}
.about__body {
  margin-bottom: 33px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.about__body-left {
  position: relative;
}
.about__body-left::before {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #FF5722;
}
.about__body-left iframe {
  min-width: 529px;
  min-height: 309px;
  margin-left: 46px;
}
.about__body-right {
  padding-top: 39px;
  padding-left: 34px;
}
.about__body-right-header {
  font-weight: 600;
  line-height: 32px;
  font-size: 24px;
  color: #1f1f1f;
}
.about__body-right-body {
  padding-top: 16px;
  padding-bottom: 32px;
  font-weight: normal;
  line-height: 28px;
  font-size: 14px;
  color: rgba(1, 0, 26, 0.75);
}
.about__body-right-footer a {
  color: #FF5722;
  display: inline-block;
  font-weight: normal;
  line-height: 16px;
  font-size: 14px;
  border-bottom: 1px solid #FF5722;
}
.about__body-right-footer a::after {
  margin-left: 5px;
  content: url("../assets/img/right.svg");
}

/*# sourceMappingURL=main.css.map */
